.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 80px;
    border: solid;
    border-radius: 15px;
    border-color: rgb(170, 236, 187);
}

.status{
width: 20px;
height: 20px;
border-radius: 50%;
background-color: #f50606;

}

.isOnline{
background-color: #076b28;
}