.contactList{
    width: 300px;
}
.contactItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteBtn{
  background-color: navy;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px ;
  text-align: center;
  text-decoration: none;

  margin-left: auto;
  font-size: 16px;
  border-radius: 8px;
  align-items: end;
  justify-content: center; 
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px #4acee8;
  }
}
